.service_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
}
.service{
    background: #323264;
    border-radius: 0 0 2rem 2rem;
    border: 1px solid transparent;
    height: fit-content;
    transition: var(--transition);
}
.service:hover{
    background: transparent;
    border-color: var(--color-primary-varient);
    cursor: default;
}
.service_head{
    background: var(--color-primary);
    border-radius: 0 0 2rem 2rem;
    padding: 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.15);
}
.service_head h3{
    text-align: center;
    color: #323264;
    font-size: 1rem;
    font-weight: 600;
}
.service_list{
    padding: 2rem;
}
.service_list li{
    display: flex;
    gap: 1rem;
    margin-bottom: 0.9rem;
}
.service_list_icon{
    color: var(--color-primary);
    margin-top: 2px;
    font-size: 1.8rem;
}
.service_list p{
    font-size: 1rem;
}

@media screen and (max-width:1024px){
    .service_container{
        grid-template-columns: 1fr,1fr;
        gap: 2rem;
    }
    .service{
        height: auto;
    }
}
@media screen and (max-width:600px){
    .service_container{
        grid-template-columns: 1fr;
        gap:1.5rem;
    }
}